<!doctype html>
<html lang="{{language}}" {% if page is defined %} data-page="{{page}}" {% endif %}>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poker</title>
    {% block stylesheets %}
			<link rel="stylesheet" crossorigin href="/poker2/public/assets/index-14dDtDfK.css">
		{% endblock %}
		{% block javascripts %}
			<script type="module" crossorigin src="/poker2/public/assets/index-DmrXEVrR.js"></script>
		{% endblock %}
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>